nav {
  height: 120px;
  width: 100%;
  background-color: #545149;
  color: #FFFFFF;
  padding: 1.5em ;
  position: fixed;
  top: 0;
}

.logo {
  font-family: "Bungee";
  font-size: xx-large;
}

.write-tweet {
  font-family: "Source Sans Pro";
  font-size: large;
}

.fa-solid.fa-angles-down {
  color: rgb(197, 170, 17);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.bounce-1 {
  margin-top: 10px;
  animation-name: bounce-1;
        animation-timing-function: linear;
    }
    @keyframes bounce-1 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-7px); }
        100% { transform: translateY(0); }
    }

.angles-down {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.nav-container {
  display: flex;
  width:100%;
  justify-content:space-between ;
}
